@media (min-width: 768px) {
  .colour {
    color: brown;
  }

  .firstColumn {
    position: fixed;
  }

  .secondColum {
    position: relative;
    left: 200px;

  }
  .header{
    /* margin-top: 100px; */

  }
  
  .headerDiv{
    position: fixed;
    z-index: 2;
    height: 100px;
    display: flex;
    align-items: center;
    top: 0px;

  }
  .headerRightDiv{
    margin-right: 25px;
    
  }
}

@media (max-width: 768px) {
  div {
    width: 100%;
  }

  #searchBar {
    visibility: hidden;
  }
}

#icon {
  color: red;
}

#bg {
  background-color: #21252900;
}

.dropDownItem :hover {
  background-color: #3e454d33;
}
