@media (min-width: 768px) {
  .colour {
    color: brown;
  }

  .firstColumn {
    position: fixed;
  }

  .secondColum {
    position: relative;
    left: 200px;
  }
}

@media (max-width: 768px) {
  div {
    width: 100%;
  }

  #searchBar {
    visibility: hidden;
  }
}

#icon {
  color: red;
}

#bg {
  background-color: #21252900;
}

.dropDownItem :hover {
  background-color: #3e454d33;
}
